/*youtube*/
#watch-sidebar-discussion {
    display: none;
}
/*gamespot*/
.article-comments, .comments, .upvote {
    display: none;
}

/*nintendolife*/
.comments-list, #comments, .user-comments {
    display: none;
}

/*giantbomb*/
.pod-comments {
    display: none;
}